.promo{
    max-width: 1200px;
    width: 100%;
    height: 150px;
    background: rgba($color: #450980, $alpha: 1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.8px);
    -webkit-backdrop-filter: blur(17.8px);
    
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 100px;
    position: relative;
    justify-content: space-between;

    .info{
        display: flex;
        flex-direction: column;
        gap:30px;
        .stars{
            display: flex;
            align-items: center;
        }
    }

    .image {
        width: 140px;
        height: 130px;
    }

    .description{
        min-width: 300px;
        text-align: center;
    }
}