/* $dark-color: #20262c;
$important-color: #00d7f4;
$secondary-color: #054946;
$main-color: #00a097;
$white-color: #ddfff7; 
#054946
*/

$dark-color: #060a12;
$important-color: #00b5b7;
$secondary-color: #415967;
$main-color: #cddae2;
$white-color: #ddfff7;

$mobile-query: 768px;