
.card{
    position: relative;
    width: 300px;
    height:400px;
    background: linear-gradient(180deg, rgba(26,35,62,.5) 0%, rgba(115,15,215,0.8) 100%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    cursor: pointer;

    .invisibleImg{
        position: absolute;
        right:0;
        top:5px;
        width: 100%;
        height: 180px;
        z-index: 20;
    }

    .hoverImgOnly{
        z-index: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        background-color: transparent;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);

        opacity: 0;

        transition: opacity 1s;
        &.hovered{
            z-index: 1;
            opacity: 1;
        }
        *{
            height: 100%;
            width: auto;
        }
    }
    .topGrid{
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        gap: 10px;
        .teamInfo{
            padding-bottom: 10px;
            max-height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .shieldandShirt{
                position: relative;
                min-width: 150px;
                width: 60%;
                display: flex;
                justify-content: center;
                padding-top: 0px;
                .absoluteImage{
                    position: absolute;
                    left:0;
                    bottom:0;
                }
            }

            .nameLocation{
                padding-top: 5px;
                line-height: 1;
                text-align: center;
            }
        }

        .moreInfo{
            width: 100%;
            display: flex;
            padding: 0 10px;
            justify-content: space-between;
        }

        .btn{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(31, 41, 71);
            color: white;
            width: 200px;
            height: 30px;
            text-decoration: none;
            border-radius: 15px;
        }
    }
    .bottomGrid{
        position:absolute;
        bottom:0;
        left:0;
        width: 300px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 0;

        div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5px;
            border-top-right-radius: 16px;
            border-top-left-radius: 16px;
            background-color: rgba(73, 73, 73, 0.8);
            width: 80px;

            background: rgba(31, 41, 71, .7);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            
            :nth-child(2){
                text-align: right;
            }
        }

    }
}