@import '../../styles/variables';

//escribime un mediaquery que con min y max width que se llame mobile-query y que tenga un valor de 768px



.navbarcontainer{
    height: $navbar-height;
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    font-size: 15px;
    padding: 0 25px;
    text-transform: uppercase;

    background: rgba($color: #D9D9D9, $alpha: 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.8px);
    -webkit-backdrop-filter: blur(17.8px);
    
    .nameNavClose{
        display: none;
    }

    @media (max-width: $mobile-query) {
        max-width: 768px;
        width: 100%;
        justify-content: space-around;

        .nameNavClose{
            display: block;
            font-size: 29px;
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
            text-decoration: none;
        }
    }

    /* .logo{
        width: 50px;
        height: 50px;
    } */

    .navbar{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        z-index: 5;
        .btn{
            display: none;
        }
        .name{
            font-size: 29px;
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
        }
        @media(min-width: 1px) and (max-width: $mobile-query) {
            height: auto;
            display: none;
            flex-direction: column;
            gap: 10px;
            
            .mobileHide{
                display: none;
            }

            .btn{
                display: flex;
            }

            &.open{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                position: absolute;
                top: $navbar-height;
                background-color: $dark-color; 
                width: 100vw;
            }
        }

        a{
            cursor: pointer;
            list-style: none;
            text-decoration: none;
        }

        div{
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 10px;
            border-radius: 10px;
            position: relative;

            @media (min-width: 1px) and (max-width: 940px){
                height: 50px;
                justify-content: center ;
            }
        }
    }


    .navbtn{
        @media (max-width: $mobile-query) {
            display: flex;
        }

        display:none;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: all .5s ease-in-out;
       
        .hamburguer{
            width: 20px;
            height: 3px;
            background-color: $main-color;
            border-radius: 5px;
            transition: all .5s ease-in-out;
            pointer-events: none;
            position: absolute;
            right: 0;

            &::before, &::after{
                content: "";
                position: absolute;
                width: 20px;
                height: 3px;
                background: $main-color;
                border-radius: 5px;
                transition: all .5s ease-in-out;
            }
    
            &::before{
               transform: translateY(-10px);
            }
    
            &::after{
                transform: translateY(10px);
             }
        }   

        &.open{
            .hamburguer{
                transform: translateX(-21px);
                background-color: transparent;
                box-shadow: none;

                &::before{
                    transform: rotate(45deg) translate(15px, -15px);
                }

                &::after{
                    transform: rotate(-45deg) translate(15px, 15px);
                }
            }
        }
        
        
    }

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6f3e8d;
        color: white;
        width: 133px;
        height: 40px;
        text-decoration: none;
        border-radius: 15px;
    }

    .btnsContainers{
        display: flex;
        flex-direction: row;
        gap: 25px;
        
        .hidden{
            display: none;
        }
    }
    >.btnsContainers{
        @media (min-width: 1px) and (max-width: 940px){
            display: none;
        }
    }
}


