
.card{
    position: relative;
    width: 300px;
    height:400px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(69,9,128,1) 100%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    cursor: pointer;

    .invisibleImg{
        position: absolute;
        right:0;
        top:5px;
        width: 100%;
        height: 180px;
        z-index: 20;
    }

    .hoverImgOnly{
        z-index: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        background-color: transparent;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);

        opacity: 0;

        transition: opacity 1s;
        &.hovered{
            z-index: 1;
            opacity: 1;
        }
        *{
            height: 150px;
        }
    }
    .topGrid{
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        padding-top: 10px;
        gap: 10px;
        .fieldInfo{
            padding-bottom: 10px;
            max-height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .fieldImg{
                position: relative;
                top: 20px;
                min-width: 150px;
                width: 60%;
                display: flex;
                justify-content: center;
                padding-top: 0px;
                *{
                    height: auto;
                    width: 100%;
                    padding-bottom: 40px;
                }
            }

            .nameLocation{
                padding-top: 5px;
                line-height: 1;
                text-align: center;
            }
        }

        .moreInfo{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .btn{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(31, 41, 71);
            color: white;
            width: 200px;
            height: 30px;
            text-decoration: none;
            border-radius: 15px;
        }
        
        .starsandcomments{
            padding-top: 10px;
            display: flex;
            width: 100%;
            flex-direction: column;
            gap:10px;

            .stars{
                display: flex;
                gap: 10px;
            }

            .carrousel{
                max-height: 45px;
                height: 100%;
                
                span{
                    font-size: .8rem;
                }
            }
        }
    }
}